<mat-grid-list cols="1" rowHeight="80px">

    <mat-grid-tile>
        <mat-card>
            <mat-card-title>
                109 Acacia St, Lake Jackson TX 77566
            </mat-card-title>
            <mat-card-subtitle>
                3 Bed, 2 Bath, 1170 Sq Ft
            </mat-card-subtitle>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="example-button-row">
            <a mat-raised-button color="primary" style="width : 400px; height: 35px; align-content: stretch;" href="https://home.cozy.co/apply/#!/1018765" target="Cozy"><h1>Click Here To See More And Apply</h1></a>
        </div>

    </mat-grid-tile>    

</mat-grid-list>

<mat-card>
    <mat-card-content>

        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <a target="_blank" href="https://home.cozy.co/apply/#!/1018765">
                    <img src="https://cozy.imgix.net/property_images/7a4fe210-656b-0138-8adb-1288cb26cbff.jpeg" alt="Kitchen" width="600" height="400">
                </a>
            </mat-grid-tile>

            <mat-grid-tile>
                <a target="_blank" href="https://home.cozy.co/apply/#!/1018765">
                    <img src="https://cozy.imgix.net/property_images/90762910-656b-0138-024a-0a7a35c58ad9.jpeg" alt="Kitchen" width="600" height="400">
                </a>
            </mat-grid-tile>

            <mat-grid-tile>
                <a target="_blank" href="https://home.cozy.co/apply/#!/1018765">
                    <img src="https://cozy.imgix.net/property_images/64030db0-664c-0138-1434-0eb3906cd81f.jpeg" alt="Front" width="600" height="400">
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a target="_blank" href="https://home.cozy.co/apply/#!/1018765">
                    <img src="https://cozy.imgix.net/property_images/b27a1e40-664c-0138-3c14-0e0811e5e13d.jpeg" alt="Front" width="600" height="400">
                </a>
            </mat-grid-tile>
          </mat-grid-list>

    </mat-card-content>
    
    
    
    <mat-card-footer>

        Acacia Property Management 2020
        
        acaciapropertymanagement@gmail.com
        

    </mat-card-footer>
</mat-card>

