<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.css"/>

<script src="https://cdn.jsdelivr.net/npm/three/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uevent@2/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.js"></script>


<mat-grid-list cols="1" rowHeight="120px">

    <mat-grid-tile>
        <mat-card>
            <mat-card-title>
                314 Cypress St, Lake Jackson TX 77566
            </mat-card-title>
            <mat-card-subtitle>
                3 Bed, 2 Bath, 1375 Sq Ft
            </mat-card-subtitle>
            <mat-card-subtitle>
                daniel@acacia411.com      -       (979) 341-0249
            </mat-card-subtitle>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="example-button-row">
            <a mat-raised-button color="primary" style="width : 400px; height: 35px; align-content: stretch;" href="https://www.zillow.com/homes/314-Cypress-St-Lake-Jackson,-TX,-77566_rb/152215783_zpid/?" target="Cozy"><h1>Click Here To Explore On Zillow</h1></a>
        </div>
        <div class="example-button-row">
            <a mat-raised-button color="primary" style="width : 400px; height: 35px; align-content: stretch;" href="https://www.zillow.com/homes/314-Cypress-St-Lake-Jackson,-TX,-77566_rb/152215783_zpid/?" target="Cozy"><h1>Click Here To Apply</h1></a>
        </div>

    </mat-grid-tile>    

</mat-grid-list>

<mat-card>
    <mat-card-content>

        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <a target="_blank" href="https://www.zillow.com/homes/314-Cypress-St-Lake-Jackson,-TX,-77566_rb/152215783_zpid/?">
                    <img src="https://photos.zillowstatic.com/uncropped_scaled_within_1536_1152/ISvkjtxlgv3y1n0000000000.webp" alt="Kitchen" width="600" height="400">
                </a>
            </mat-grid-tile>

            <mat-grid-tile>
                <a target="_blank" href="https://www.zillow.com/homes/314-Cypress-St-Lake-Jackson,-TX,-77566_rb/152215783_zpid/?">
                    <img src="https://photos.zillowstatic.com/uncropped_scaled_within_1536_1152/ISzvahwvzy692n0000000000.webp" alt="Kitchen" width="600" height="400">
                </a>
            </mat-grid-tile>

            <mat-grid-tile>
                <a target="_blank" href="https://www.zillow.com/homes/314-Cypress-St-Lake-Jackson,-TX,-77566_rb/152215783_zpid/?">
                    <img src="https://photos.zillowstatic.com/uncropped_scaled_within_1536_1152/ISv00tczeu1n2n0000000000.webp" alt="Front" width="600" height="400">
                </a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a target="_blank" href="https://www.zillow.com/homes/314-Cypress-St-Lake-Jackson,-TX,-77566_rb/152215783_zpid/?">
                    <img src="https://photos.zillowstatic.com/uncropped_scaled_within_1536_1152/IS7y9s8t05bk3n0000000000.webp" alt="Front" width="600" height="400">
                </a>
            </mat-grid-tile>
          </mat-grid-list>
          
          

    </mat-card-content>
    
    
    
    <mat-card-footer>

    </mat-card-footer>
</mat-card>

